body {
  font-family: "Poppins", sans-serif;
}

.background-colors {
  background-color: #ecf8f9;
}

.main-colors {
  background-color: #068da9;
}
.navbar {
  padding: 0;
}

.image-icon {
  margin-right: 12px;
}
